::after,
::before {
  box-sizing: border-box;
}

:root {
  --primery-texy-color: #212121;
  --secondary-text-color: #757575;
  --hover-text-color: #2196f3;
  --absolut-white-header: #ffffff;
  --title-footer-dark: #2f303a;
  --mine-fone-color: #e5e5e5;
  --team-button-color: #f5f4fa;
  --contact-data-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primery-texy-color);
  background-color: var(--mine-fone-color);
  margin: 0;
}

li {
  list-style-type: none;
}

.header {
  display: block;
  border-bottom: 1px solid #ececec;
}

/*оформлення тексту навігаційних кнопок*/
.navigation {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.navigation .link {
  display: block;
  padding: 32px 0px;
}
.contact-data {
  display: flex;
  margin-left: 305px;
}

.navigation-head {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  background-color: var(--absolut-white-header);
}

.images {
  display: flex;
  justify-content: center;
}

.images li {
  margin-right: 30px;
}
.images li :last-child {
  margin-right: 0px;
}

.navigation li {
  margin-right: 50px;
}

.contact-data li {
  margin-right: 30px;
}

.navigation :last-child,
.contact-data :last-child,
.images :last-child {
  margin-right: 0px;
}

.list-benefits p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-m:hover {
  background-color: var(--absolut-white-header);
  color: var(--hover-text-color);
}
.button-m {
  font-family: "Roboto", sans-serif;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background: var(--hover-text-color);
  color: var(--absolut-white-header);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.buttons .button-p:last-child {
  margin-right: 8px;
}

.button-p {
  font-family: "Roboto", sans-serif;
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  background: var(--team-button-color);
  color: var(--primery-texy-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-p:focus,
.button-p:hover {
  color: var(--absolut-white-header);
  background-color: var(--hover-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link:focus,
.link:hover,
.site-contacts:hover,
.site-contacts:focus {
  color: var(--hover-text-color);
}

.link {
  color: var(--primery-texy-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}
.card-project {
  display: block;
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.cards-team {
  width: 270px;
  height: 428px;
  background-color: var(--absolut-white-header);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.logo {
  color: var(--primery-texy-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
}

/*оформлення першої частини логотипу*/
.logo-web {
  color: var(--hover-text-color);
}

.hero {
  padding-bottom: 30px;
  color: var(--absolut-white-header);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.section-title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-team,
.section-benefits {
  padding: 94px 0px;
  align-content: center;
}
.section-team {
  background-color: var(--team-button-color);
}

.section-work {
  padding-bottom: 94px;
  align-content: center;
}
ul,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.mail-tel {
  display: flex;
}

.data {
  margin-right: 10px;
}

.car-list {
  width: 270px;
}
.car-list:first-child {
  margin-left: 0px;
}

.section-hero {
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  background-image: url(../images/hero.svg);
}

.icon-benefits {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.four {
  width: 270px;
  height: 120px;
  background-color: var(--team-button-color);
  margin-bottom: 30px;
}

.car-list {
  margin-left: 30px;
}

.list-benefits {
  display: flex;
  justify-content: center;
}

.list-benefits h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.p {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.personal {
  display: flex;
  justify-content: center;
}

.personal .cards-team + .cards-team {
  margin-left: 30px;
}

.name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.position {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.text-team {
  padding: 30px 0px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-name {
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.projects-type {
  padding: 4px 0px 0px 0px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-text {
  width: 320px;
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.card-project img {
  display: block;
}

.card-project:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

address {
  margin-top: 20px;
}

.address {
  margin-bottom: 9px;
}
.address:last-child {
  margin-bottom: 0px;
}
.address:first-child {
  color: var(--absolut-white-header);
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
[href*="https"] {
  color: var(--absolut-white-header);
}

footer .logo {
  color: var(--absolut-white-header);
}
footer {
  padding: 60px 0px;
}

.site-contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.filters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-hero,/* - залишити темний фон в секції герой*/
footer {
  background-color: var(--title-footer-dark);
}

.header,
.benefits,
.wtahwedo,
main {
  background-color: var(--absolut-white-header);
}

.section-hero {
  text-align: center;
  padding-top: 215px;
  padding-bottom: 185px;
}

ul.projects {
  margin-bottom: -30px;
  margin-left: -30px;
}

.contact-links {
  margin-top: 20px;
}

.contact .container {
  display: flex;
}

.locate,
.social {
  margin-left: 70px;
}

.social-link {
  display: flex;
}

.social-link-gray {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social h3 {
  color: var(--absolut-white-header);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social {
  padding-top: 12px;
}
.button-social {
  padding: 0px;
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}

.button-social:hover,
.button-social:focus,
{
  background-color: var(--hover-text-color);
}

.button-social-gray {
  display: flex;
  padding: 0px;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  }

.button-social-gray:hover  {
  color: var(--absolut-white-header);
  background-color: var(--hover-text-color);
}
.svg-gray {
  fill: currentColor;
}

.icon {
  margin-right: 10px;
  }

.icon:last-child {
  margin-right: 0px;
}

.button-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  vertical-align: middle;
}

.button-part {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  fill: #212121;
}

.button-part:hover {
  fill: #03a9f4;
}

.our-partners {
  display: flex;
  padding-top: 0px;
  justify-content: center;
}

.partners button {
  padding: 0;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.25);
  offset: 0px, 4px;
  background-color: var(--absolut-white-header);
}

.partners {
  padding-bottom: 94px;
  padding-top: 94px;
}
.partners-list {
  margin-right: 30px;
}
.partners-list:last-child {
  margin-right: 0px;
}
.partners button:hover {
  background-color: var(--absolut-white-header);
  border-color: var(--hover-text-color);
}

.partners .container h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: Bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
